li {
  width: 60%;
  height: 100%;
  margin: auto;
  background: whitesmoke;
  border-radius: 2rem;
  -webkit-box-shadow: 3px 4px 15px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 4px 15px -2px rgba(0, 0, 0, 0.25);
}

.elementWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.elementWrapper h3 {
  padding-inline: 1rem;
}
.elementWrapper h3::first-letter {
  text-transform: capitalize;
}

.stars {
  color: #0ea5e9;
}
.starsDark {
  color: #fcda19;
}
