li {
  width: 60%;
  height: 100%;
  margin: auto;
  background: whitesmoke;
  border-radius: 2rem;
  -webkit-box-shadow: 3px 4px 15px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 4px 15px -2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.elementWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.elementWrapper h3 {
  padding-inline: 1rem;
}
.elementWrapper h3::first-letter {
  text-transform: capitalize;
}

.completed {
  opacity: 0.2;
  position: relative;
}
.completed::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0%;
  width: 100%;
  margin: auto;
  height: 0.15rem;
  background: black;
}

.stars {
  color: #0ea5e9;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
}
.starsDark {
  color: #fcda19;
  -webkit-filter: drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.35));
  filter: drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.35));
}
