.asideForm {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 95%;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}
.asideForm input {
  padding: 0.5rem 2.5rem;
  border: 1px solid #3f3f46;
}

.errorWrapper {
  width: 95%;
  height: 90%;
  margin: auto;
}

.error {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 400;
}

@media only screen and (min-width: 240px) and (max-width: 768px) {
  .asideForm {
    justify-content: space-around;
  }
  .asideForm input {
    width: 90%;
    margin-inline: 0;
    border: none;
  }
  .asideForm input::placeholder {
    font-size: 1.4rem;
  }
}
