.asideForm {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 95%;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}
.asideForm input {
  padding: 0.5rem 2.5rem;
}
