aside {
  width: 15%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr auto;
  background: rgb(253, 251, 251);
  background: linear-gradient(
    180deg,
    rgba(253, 251, 251, 1) 0%,
    rgba(186, 224, 242, 1) 77%,
    rgba(160, 212, 236, 1) 100%
  );
  position: fixed;
  top: 15%;
  left: 0;
  z-index: 10;
  text-align: center;
  height: 100%;
  animation: asideAnimation 500ms ease-in-out;
  -webkit-box-shadow: 4px 5px 15px -3px #0000004b;
  box-shadow: 4px 5px 15px -3px #0000004b;
}
aside button:hover {
  color: #0ea5e9;
}
aside ul {
  overflow: auto;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}
.dark {
  background: #cbd5e1;
  border-radius: 0;
  background: #0ea5e9;
  color: white;
}
.dark button {
  color: white;
}
.dark button:hover {
  color: #3f3f46;
}
input {
  width: 75%;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

@keyframes asideAnimation {
  from {
    transform: translateX(-100);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 450px) {
  aside {
    width: 25%;
  }
}
