.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 20;
  animation: slide 400ms ease-in-out forwards;
}

@media only screen and (min-width: 568px) and (max-width: 700px) and (orientation: landscape) {
  .modal {
    width: 35rem;
    left: calc(50% - 17.5rem);
  }
}

@media only screen and (min-width: 300px) {
  .modal {
    top: 30vh;
  }
}
@media only screen and (min-width: 320px) and (orientation: landscape) {
  .modal {
    width: 30rem;
    left: calc(50% - 15rem);
  }
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
