nav {
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
.aside {
  justify-self: flex-start;
}

.cta {
  color: #0f172a;
  transition: all 100ms ease-in-out;
}
.cta:hover {
  color: #0ea5e9;
}
