nav {
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  z-index: 5;
}
.aside {
  justify-self: flex-start;
}
.search {
  width: 30%;
}

.cta,
.ctaDark {
  transition: all 100ms ease-in-out;
}

.cta {
  color: #0f172a;
}
.ctaDark {
  color: white;
}
.cta:hover,
.ctaDark:hover,
.cta:focus,
.ctaDark:focus {
  color: #0ea5e9;
}
@media only screen and (min-width: 240px) and (max-width: 768px) {
  .search {
    width: 50%;
    border: none;
  }
  .search::placeholder {
    font-size: 1.35rem;
  }
}
